<div class="about-wrappers">
  <div class="about-wrapper">
    <div class="mission">
      <ion-label>OUR MISSION</ion-label>
      <div class="border-line"></div>
      <span>In a world with increased focus on the care of our environment and the management of risks and costs, Kaz Refinery Oil wants to be leading in the area of Refining & transportation of crude oil & crude oil products and the maintenance and integrity of its infrastructure. We operate safely, reliable, profitable and are the preferred supplier of our customers.
        Kaz Refinery Oil” is an attractive employer and complies with laws and regulations of the Republic of Kazakhstan. Kaz Refinery Oil wants to achieve this by developing motivated employees in an organization that cooperates with excellent advisors and contractors.</span>
    <div class="bottom-part">
         <input type="radio">
        <span> Learn More</span>
    </div>
    </div>

    <div class="middle-side-rotate">
      <div class="middle-body">
      
        <ion-text>
          <ion-label>9.7</ion-label>
          <p>CUSTOMER RATING</p>         
        </ion-text>
        <div class="border-line"></div>
        <div > 
          <p class="rotate-text">OUR MISSION HERE AT KAZ REFINERY OIL</p>
          </div>
      </div>
    </div>

    <div class="mission">
      <ion-label>OUR VISION</ion-label>
      <div class="border-line"></div>
      <span>Our vision is becoming a safe and innovative crude oil Refining company that excels because it is leading in its sector. We are proud of our company, we are customer-oriented, reliable, committed and flexible! Enabling Kaz Refinery oil and its businesses to achieve their goals – where we hold expertise, we will use it collaboratively and constructively. Cooperation is the key to Kaz Refinery Oil's success.
        We lead the development of Kaz Refinery Oil's strategy, to drive the long-term resilience and value of our business and create value for our stakeholders more widely, including society, our employees and our shareholders</span>
      <div class="bottom-part">
        <input type="radio">
       <span> Learn More</span>
   </div>
    </div>

  </div>
</div>