<ion-content color="light">
  
  <div id="home" class="slider-page">
    <app-slider></app-slider>
  </div>

  <div id="service" class="service-page">
    <app-our-services></app-our-services>
  </div>

  <div id="functions" class="function-page">
    <app-functions></app-functions>
  </div>

  <div id="about" class="about-page">
    <app-company-about></app-company-about>
  </div>

  <div class="guiding-page" id="guiding">
    <app-guiding-principles></app-guiding-principles>
  </div>

  <div id="banner" class="banner-attributes">
    <app-banner-attributes></app-banner-attributes>
  </div>

</ion-content>