<div class="footer-bottom-content">
  <div class="company-operation">
    <ion-icon src="/assets/icon/call-outline.svg"></ion-icon>
    <span class="phone-number">070334165241</span>
    <span class="date-of-operation">Mon-Fri / 9.30am - 5:30pm</span>
  </div>
  <div class="divider-line"></div>
  <div class="company-entity">
    <span> MishPro &copy; {{ date | date : "yyyy" }} All right reserved</span>
    <span>Privacy Policy </span>
    <span>Term of use </span>
    <span>Location : Nigeria(EN)</span>
  </div>
</div>
