  <div class="slider-image">
  <swiper-container
    thumbs-swiper=".mySwiper2"  
    navigation="true" 
    autoplay="true"
    >
    <swiper-slide *ngFor="let slide of images; let i = index">
        <div class="image" >
          <img [src]="slide.image">
            <div class="text-prop"> 
              <ion-text>
                <span> {{slide.title}} </span>
                <p>{{slide.about}}</p>  
              </ion-text>                      
          </div>
        </div>     
    </swiper-slide>
  </swiper-container>
</div>