<div class="latest-wrappers">
  <div class="wrapper">
    <div class="latest-jobs">
      <ion-label>LATEST POST</ion-label>
    </div>

    <div class="scrollable-images">
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
      <div class="image-holder">
        <img src="assets/images/cristina-gavrila-Ve_QjaM54OA-unsplash.jpg" />
        <ion-text>          
        <ion-label> Modern Refinery </ion-label>
        </ion-text>
      </div>     
    </div>
  </div>
</div>