@mixin flex-end {
  display: flex;
  justify-content: end;
  align-items: end;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-wrappers {
  margin: auto;
  width: 80%;
  overflow: hidden;
  height: 100vh;

  .wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .latest-jobs {
      display: block;
      ion-label {
        font-size: var(--pen-xlg-font);
      }
    }

    .scrollable-images {
        display: flex;
        flex-direction: column;
        align-items: end;
        overflow-y: auto;


      .image-holder {
        width: 700px;
        height: 400px;
        position: relative;
        margin-top: 20px;

        img {
          width: 100%;
          height: 100%;
        }

        ion-text {
          position: absolute;
          padding: 20px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          @include flex-end();
          cursor: pointer;

          ion-label {
            font-size: var(--pen-lg-font);
          }
        }

        ion-text:hover {
          background-color: rgba(0, 0, 0, 0.862);
        }
      }
    }
    .scrollable-images::-webkit-scrollbar {
        display: none;
    }

  }
}


@media only screen and (max-width: 512px) {
    .latest-wrappers {
        width: 100%;
        .wrapper {
            flex-direction: column;
            .latest-jobs {
                margin-top: 20px;
                height: 20px;
                width: 100%;
                justify-content: start;
                align-items: start;

                ion-label {
                    font-size: var(--pen-ss-font);
                }
            }

            .scrollable-images {
                .image-holder {
                    width: 300px;
                    width: 100%;

                    ion-text {
                        ion-label {
                            font-size: var(--pen-ss-font);
                        }
                    }
                }
            }
        }
    }
}