// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

    //custom font types
    --pen-tiny-font: 8px;
    --pen-s-font: 10px;
    --pen-ss-font: 12px;
    --pen-md-font: 14px;
    --pen-nm-font: 16px;
    --pen-lg-font: 18px;
    --pen-xlg-font: 20px;


}