// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

	--ion-color-background: #010b3c;
	--ion-color-background-rgb: 1,11,60;
	--ion-color-background-contrast: #ffffff;
	--ion-color-background-contrast-rgb: 255,255,255;
	--ion-color-background-shade: #010a35;
	--ion-color-background-tint: #1a2350;
    
    //custom font types
    --pen-tiny-font: 8px;
    --pen-s-font: 10px;
    --pen-ss-font: 12px;
    --pen-md-font: 14px;
    --pen-nm-font: 16px;
    --pen-lg-font: 18px;
    --pen-xlg-font: 20px;


}