// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

  --ion-color-tertiary: #010b3c;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

	--ion-color-background: #010b3c;
	--ion-color-background-rgb: 1,11,60;
	--ion-color-background-contrast: #ffffff;
	--ion-color-background-contrast-rgb: 255,255,255;
	--ion-color-background-shade: #010a35;
	--ion-color-background-tint: #1a2350;
    
    //custom font types
    --pen-tiny-font: 8px;
    --pen-s-font: 10px;
    --pen-ss-font: 12px;
    --pen-md-font: 14px;
    --pen-nm-font: 16px;
    --pen-lg-font: 18px;
    --pen-xlg-font: 20px;

    
@mixin  page-padding {
    padding: 50px 8%;
  }
  
  .page {
    @include page-padding();
  }
  


}