<div class="guiding-wrappers">
  <div class="guiding-wrapper">
    <div class="header-title">
      <span>Our Guiding <br> Principles</span>
        <div class="border-line"></div>        
    </div>

    <div class="body-part">
      <app-guiding-prospect
      safety="Safety"
      bodyText="Kaz Refinery Oil strives to create a safe work environment, continuously improves its production processes, invests in staff development, and ensures compliance with safety rules to minimize risks of work-related accidents. Protecting the health and lives of employees is one of the company’s top priorities."
      pageNumber="01"
      ></app-guiding-prospect>

      <app-guiding-prospect
      safety="Social Responsibility"
      bodyText="Kaz Refinery Oil provides assistance to medical, educational and cultural institutions located in the eastern areas of Almaty region in Kazakhstan. It also supports cultural, recreational, educational, and sport activities. Our job-creating policy helps to reduce the unemployment rate in remote areas of our region"
      pageNumber="02"
      ></app-guiding-prospect>

      <app-guiding-prospect
      safety="Social Policies"
      bodyText="Social programs are considered an integral part of the Kaz Refinery Oil’s corporate strategy and contribute to constructive cooperation with the state, business circles and society. Corporate programs are of a targeted nature and based on regional professional experience and human potential. Prosperity in the areas where we work is very important for us."
      pageNumber="03"
      ></app-guiding-prospect>
    </div>
  </div>
</div>