.image-carousel {
    width: 80%;
    margin: auto;
    overflow: hidden;

    .carousel-track {
        padding: 10px;
        display: flex;
        animation: scroll 10s linear infinite;
        gap: 20px;

        .image-holder {
            width: 400px;
            background-color: var(--ion-color-dark);
            border-radius: 2px;           
            overflow: hidden;
            display: flex;
            justify-content: center;
            img {
                object-fit: contain;
            }
        }
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 512px) {
    .image-carousel {
        width: 100%;
        height: 100px;
   
        .carousel-track {
           gap: 10px;
           padding: 0px;
    
            .image-holder {
            width: 100px;
            flex: 0 0 auto;

                          }
        }
    }
}

