.function-wrappers {
    margin: auto;
    width: 80%;
    display: flex;

    .border-line {
        height: 350px;
        width: 1px;
        background-color: var(--ion-color-medium);
    }

    .function-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .function-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                margin: 5px;
                width: 100px;
            }

            ion-label {
                font-size: 18px;
                margin: 5px;
                font-weight: 700;
            }

            span {
                text-align: justify;
                padding: 10px;
            }

            .arrow-navigate {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                p {
                    font-size: 14px;
                    font-weight: 500;

                    ion-icon {
                        cursor: pointer;
                        transition: all 0.5ms;
                        font-size: 22px;
                    }

                    ion-icon:hover {
                        transform: translateX(-5px);
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 512px) {
    .function-wrappers {
        width:100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);

        .border-line {
            height: 0px;
        }
    
        .function-wrapper {        
            .function-item {
                img {
                    width: 40px;
                }
    
                ion-label {
                    font-size: 10px;
                    text-transform: capitalize;
                }
    
                span {
                    font-size: 8px;
                }
    
                .arrow-navigate {  
                    p {
                        font-size: 8px;
    
                        ion-icon {
                         font-size: 10px;
                        }
    
                        ion-icon:hover {
                            transform: translateX(-5px);
                        }
                    }
                }
            }
    
        }

    
    }
    
}