#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-prop {
  display: flex;
  align-items: center;
  margin: 5px;
 // width: 100%;
  justify-content: space-between;
  //border: 2px solid white;

  .nav-prop{
    display: flex;
    align-items: center;
  //  flex-direction: column;
  //border: 2px solid white;

  .profile-header {
    //border: 2px solid white;
    z-index: 10;
  }
  }
}

  .nav-menu{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
    //border: 2px solid white;

    ion-buttons {
        ion-button {
            color:rgb(90, 87, 87);
            cursor: pointer;
        }

        .actived {
            color:white;
        }
    }

    ion-buttons:hover {
        ion-button {
            color: rgb(222, 218, 218);
        }
    }  
}

ion-app{
//  border: 2px solid white;
//  width: 50%;
//  z-index: 1;
//  position: absolute;
//  left: 50%;

  .div-menu {
    display: flex;
    justify-content: end;
    align-items: end;
  //  width: 100%;
  //  border: 2px solid white
    margin: 20px;

    ion-buttons {
    //  display: flex;
      //gap: 10px;
    //  border: 2px solid white;

      ion-menu-button {
        ion-icon {
          color: rgb(222, 218, 218);
          font-size: 20px;
        }
      }
    }
  }
  
}

ion-router-outlet {
  margin-top: 150px;
  margin-right: 10px;
  margin-left: 12px;
//  border: 2px solid white;

}

ion-menu::part(backdrop) {
// background-color: rgb(134, 131, 131);
 backdrop-filter: blur(160px);

}

// ion-menu::part(container) {
//  border-radius: 0 20px 20px 0;
//  box-shadow: 2px 0px 6px rgba(222, 218, 218, 0.521);
// }

ion-menu {

  ion-list {
    display: flex;
    flex-direction: column;
    margin:10px;
    gap: 5px;
    height: 100%;

    ion-item {      
      ion-icon {
        font-size: 14px;
      }

      ion-label {
        color:rgb(90, 87, 87);
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        font-family: "Jost", sans-serif;
        font-style: normal;
      }
    }

    ion-item:hover {      
      ion-icon {
        font-size: 15px;
        color:rgb(222, 218, 218)
      }

      ion-label {
        font-size: 14px;
        color:rgb(222, 218, 218)
      }
    }

  }

  .line-break {
    border: 0.1px solid rgb(131, 128, 128);
  }

}

.right-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap:40px;
  z-index: 10;
  
  .profile-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(217, 215, 215);
    transition: all 0.3s;
    //margin-right: 10px;
    cursor: pointer;

    ion-label {
    color:  rgb(90, 87, 87);
     font-size: 20px;
    }

    ion-icon {
      color: rgb(90, 87, 87);
    }
  }

  .profile-icon:hover {
  transform: scale(1.1);
  //font-weight: 700;

  ion-label {
    color:rgb(222, 218, 218)
    //  font-size: 14px;
    }

    ion-icon {
      color:rgb(222, 218, 218)
    //  font-size: 14px;
    }
}


}



//show ss styling for screen between 512px and above
@media only screen and (min-width: 512px){
    .show-on-mobile-only{
        display: none;
        visibility: hidden;
    }
}

//show css styling for screen between 0px - 512px
@media only screen and (max-width: 512px){
    .show-on-desktop-only{
        display: none;
        visibility: hidden;
    }

    .header-prop {
      .nav-prop{
        .profile-header {
          display: none;
          visibility: hidden;
        }
      }
    }

    
ion-router-outlet {
  margin-top: 80px;

}
}
