<div class="header-prop">
  <div class="logo-header">
    <app-logo />
  </div>

  <div class="nav-prop">
    <div class="profile-header">
      <app-profile-header />
    </div>

    <div class="right-menu show-on-desktop-only">
      <div class="profile-icon" navigateTo="main/welcome">
        <ion-label>Home</ion-label>
      </div>

      <div class="profile-icon">
        <ion-label>About Us</ion-label>
      </div>

      <div class="profile-icon" (click)="openPopupService($event)">
        <ion-label>Service</ion-label>
        <ion-icon name="caret-down"></ion-icon>        
      </div>

      <div class="profile-icon" (click)="openPopupEnvionment($event)">
        <ion-label>Environment</ion-label>
        <ion-icon name="caret-down"></ion-icon>
      </div>

      <div class="profile-icon">
        <ion-label>Contact Us</ion-label>
      </div>
    </div>

    <ion-app>
      <ion-menu
        contentId="main-content"
        type="overlay"
        slot="start"
        *ngIf="menuItem"
      >
        <ion-list class="" id="inbox-list">
          <ion-item>
            <app-logo />
          </ion-item>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="[p.path]"
              routerDirection="root"
              detail="false"
              routerLinkActive="selected"
              (click)="p.dropDown ? toggleDropDown($event, p) : closeMenu()"
              *ngFor="let p of menuItem"
            >
              <ion-label>{{p.title}}</ion-label>
              <ion-icon
                *ngIf="p.dropDown"
                [name]="p.open ? 'chevron-up-outline' : 'chevron-down-outline'"
                slot="end"
              ></ion-icon>
            </ion-item>

            <ion-list *ngIf="selectedItem?.open">
              <ion-item
                *ngFor="let items of selectedItem.subItems; let i = index"
                [routerLink]="[items.path]"
                detail="false"
              >
                <ion-label> {{items.lists}} </ion-label>
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
        </ion-list>
      </ion-menu>
      <div class="div-menu show-on-mobile-only" id="main-content">
        <ion-buttons>
          <app-profile-header />
          <ion-menu-button>
            <ion-icon src="assets/svg/efe-menu.svg"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </div>
      <ion-router-outlet />
    </ion-app>
  </div>
</div>
