.header-prop {
  display: flex;
  align-items: center;
  margin: 5px;

  justify-content: space-between;

  .nav-prop {
    display: flex;
    align-items: center;

    .profile-header {
      z-index: 10;
    }
  }
}

.nav-menu {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 5px;

  ion-buttons {
    ion-button {
      color: rgb(90, 87, 87);
      cursor: pointer;
    }

    .actived {
      color: white;
    }
  }

  ion-buttons:hover {
    ion-button {
      color: rgb(222, 218, 218);
    }
  }
}

ion-app {
  display: flex;
  justify-content: space-between;
  align-items: end;

  .div-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    ion-buttons {
      ion-menu-button {
        ion-icon {
          color: rgb(222, 218, 218);
          font-size: 20px;
        }
      }
    }
  }
}

ion-router-outlet {
  margin-top: 150px;
  margin-right: 10px;
  margin-left: 12px;
}

ion-menu::part(backdrop) {
  backdrop-filter: blur(160px);
}

ion-menu {
  ion-list {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    height: 100%;

    ion-item {
      ion-icon {
        font-size: 14px;
      }

      ion-label {
        color: rgb(90, 87, 87);
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        font-family: "Jost", sans-serif;
        font-style: normal;
      }
    }

    ion-item:hover {
      ion-icon {
        font-size: 15px;
        color: rgb(222, 218, 218);
      }

      ion-label {
        font-size: 14px;
        color: rgb(222, 218, 218);
      }
    }
  }

  .line-break {
    border: 0.1px solid rgb(131, 128, 128);
  }
}

.right-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 40px;
  z-index: 10;

  .profile-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(217, 215, 215);
    transition: all 0.3s;

    cursor: pointer;

    ion-label {
      color: rgb(90, 87, 87);
      font-size: 20px;
    }

    ion-icon {
      color: rgb(90, 87, 87);
    }
  }

  .profile-icon:hover {
    transform: scale(1.1);

    ion-label {
      color: rgb(222, 218, 218);
    }

    ion-icon {
      color: rgb(222, 218, 218);
    }
  }
}

//show ss styling for screen between 512px and above
@media only screen and (min-width: 512px) {
  .show-on-mobile-only {
    display: none;
    visibility: hidden;
  }
}

//show css styling for screen between 0px - 512px
@media only screen and (max-width: 512px) {
  .show-on-desktop-only {
    display: none;
    visibility: hidden;
  }

  .header-prop {
    .nav-prop {
      .profile-header {
        display: none;
        visibility: hidden;
      }
    }
  }

  ion-router-outlet {
    margin-top: 80px;
  }
}
