<div class="slider-image">
  <div class="image">
    <img [src]="slide" width="2000">

    <div class="text-prop">

      <div class="years-experience">
        <div class="left-header">
          <ion-label>World's Leading Industry Corporation </ion-label>
          <div class="no-of-years">
            <p>47</p>
            <span>years of experience</span>
          </div>
        </div>

        <div class="attributes">
          <div class="attribute">
            <p> - Critical Thinkers</p>
            <p> - Collaborators</p>
            <p> - Renewable Fuels in Transportation</p>
          </div>
          <div class="attribute">
            <p> - Carbon capture and Storage </p>
            <p> - Collaborators</p>
            <p> - Renewable Fuels in Transportation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>