<div class="banner-attributes">
  <div class="image-holder">
    <img [src]="'assets/images/istockphoto-1686745511-612x612.jpg'" />
  </div>

  <div class="overlay">
    <div class="overlay-prop">
    <div class="company-service-year">
      <app-company-service-year />
    </div>

    <div class="company-attributes">
      <div class="attribute">
        <p>- Critical Thinkers</p>
        <p>- Collaborators</p>
        <p>- Renewable Fuels in Transportation</p>
      </div>
      <div class="attribute">
        <p>- Carbon capture and Storage</p>
        <p>- Collaborators</p>
        <p>- Renewable Fuels in Transportation</p>
      </div>
    </div>
  </div>
  </div>
</div>
