@mixin flex-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.banner-attributes {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  height: 70vh;
  position: relative;
  .image-holder {
    height: 70vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 100%;
    @include flex-center();

    .overlay-prop {
      width: 70%;
      @include flex-center();
      gap: 550px;
      margin: auto;

      .company-service-year {
        width: 15%;
      }

      .company-attributes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .attribute {
          font-size: var(--pen-lg-font);
        }
      }
    }
  }
}


@media only screen and (max-width: 512px) {
    .banner-attributes {
        height: 30vh;
        .image-holder {
          height: 30vh;
        }
        .overlay {
           .overlay-prop {
            width: 90%;
            gap: 10px;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
      
            .company-service-year {
              width: 30%;
            }
      
            .company-attributes {
             gap: 10px;
              .attribute {
                font-size: var(--pen-tiny-font);
              }
            }
          }
        }
      }
    
}