<ion-list>
  <ion-item lines="none" navigateTo="">
    <ion-icon name="unlink-outline" slot="start"></ion-icon>
    <ion-label>Production</ion-label>
  </ion-item>

  <ion-item lines="none" navigateTo="">
    <ion-icon name="radio-button-on-outline" slot="start"></ion-icon>
    <ion-label>Petro-chemicals</ion-label>
  </ion-item>

  <ion-item lines="none" navigateTo="">
    <ion-icon name="barbell-outline" slot="start"></ion-icon>
    <ion-label>Exporation and Drilling</ion-label>
  </ion-item>

</ion-list>